@using AlbumTrackerMVC1.Models.Songs;
@model AddSong

@{
    ViewData["Title"] = "ArtistAdd";
}

<h1>Create Album</h1>
<form asp-action="Create" method = "post">
<div> <label asp-for = "SongName" class= "form-label"></label>
<input asp-for = "SongName" class= "form-control">
</div>
<div>
<label asp-for = "ArtistName" class= "form-label"></label>
<label asp-for = "ArtistName" class= "form-control"></label>
</div>
<label asp-for = "AlbumName" class= "form-control"></label>
<label asp-for = "AlbumName" class= "form-control"></label>
<div>
<a asp-action = "Index">Back To List</a>
<input type = "submit" value = "Create" class = "btn btn-primary" 
</div>
</form>