@{
    ViewData["Title"] = "Home Page"; 
}



<div class="text-center">
    <h1 class="display-4">ALBUM TRACKER MVC</h1>
    <h4>Welcome to Album Tracker MVC! </h4>
    <h4>You can keep track of your music albums here.</h4>
    



    
</div>
