@{
    ViewData["Title"] = "Album Tracker's Privacy Policy";
}
<div class = "text-center">
<h1>@ViewData["Title"]</h1>
<p>Privacy policy: We will NOT sell your info to anyone. Cool?</p>
</div>

